# Screen Time Mental Health EDA

In [5]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Get the dataframe

In [3]:
df = pd.read_csv("data/maps-synthetic-data-v1.1.csv")
df.head()

,Unnamed: 0,X,flag,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,...,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,1,1,synthetic,NaN,3.0,30,59.294132,181.602831,107.0,NaN,...,0.0,Yes,Yes,often,No,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,2,2,synthetic,NaN,9.0,26,NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,B
2,3,3,synthetic,NaN,3.0,24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,4,4,synthetic,No,NaN,22,49.812426,160.224186,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,Male,A
4,5,5,synthetic,No,8.0,31,62.270030,191.703227,132.0,Yes,...,NaN,NaN,NaN,often,No,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A

### Correlation

In [4]:
df.corr()

,Unnamed: 0,X,mat_dep,weight_16,height_16,iq,agg_score,parity,secd_diag,prim_diag,panic_score,dep_thoughts,dep_score
Unnamed: 0,1.000000,1.000000,0.014914,-0.013672,0.005430,0.004083,-0.000147,-0.010709,-0.001954,0.002537,-0.004982,-0.026756,-0.008412
X,1.000000,1.000000,0.014914,-0.013672,0.005430,0.004083,-0.000147,-0.010709,-0.001954,0.002537,-0.004982,-0.026756,-0.008412
mat_dep,0.014914,0.014914,1.000000,0.022857,-0.037471,-0.076213,-0.399370,0.072405,0.042720,0.049515,0.044806,0.036001,0.042168
weight_16,-0.013672,-0.013672,0.022857,1.000000,0.506162,-0.010114,-0.023589,0.023191,-0.045174,-0.032918,-0.014801,-0.044244,-0.014034
height_16,0.005430,0.005430,-0.037471,0.506162,1.000000,0.108182,-0.006108,-0.000875,-0.058494,-0.042952,-0.016259,-0.049831,-0.034491
iq,0.004083,0.004083,-0.076213,-0.010114,0.108182,1.000000,0.064654,-0.075945,-0.002553,-0.011164,-0.003665,-0.024857,0.007587
agg_score,-0.000147,-0.000147,-0.399370,-0.023589,-0.006108,0.064654,1.000000,-0.040754,-0.015039,-0.026265,-0.062852,-0.036543,-0.040472
parity,-0.010709,-0.010709,0.072405,0.023191,-0.000875,-0.075945,-0.040754,1.000000,0.045679,0.036739,0.022520,0.039167,0.036022
secd_diag,-0.001954,-0.001954,0.042720,-0.045174,-0.058494,-0.002553,-0.015039,0.045679,1.000000,0.761506,0.517815,0.544721,0.617543
prim_diag,0.002537,0.002537,0.049515,-0.032918,-0.042952,-0.011164,-0.026265,0.036739,0.761506,1.000000,0.324851,0.632179,0.725219
panic_score,-0.004982,-0.004982,0.044806,-0.014801,-0.016259,-0.003665,-0.062852,0.022520,0.517815,0.324851,1.000000,0.200793,0.238634
dep_thoughts,-0.026756,-0.026756,0.036001,-0.044244,-0.049831,-0.024857,-0.036543,0.039167,0.544721,0.632179,0.200793,1.000000,0.610364
dep_score,-0.008412,-0.008412,0.042168,-0.014034,-0.034491,0.007587,-0.040472,0.036022,0.617543,0.725219,0.238634,0.610364,1.000000

Look at the feature dtypes

In [9]:
for dtype in df.dtypes:
    print(dtype)

int64
int64
object
object
float64
object
float64
float64
float64
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
float64
object
object
object
object
object
object
object
float64
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
float64
float64
float64
float64
float64
object
object
object
object
object
object
object
object
object

In [25]:
for col in df:
    if df[col].dtype == "object":
        print(f"{col}: {df[col].unique()}\n")

flag: ['synthetic']

comp_bed_9: [nan 'No' 'Yes']

mat_age: ['30' '26' '24' '22' '31' '36' '27' '21' '32' '< 16' '33' '25' '16' '37'
 '34' '35' '18' '29' '23' '20' '17' '28' '38' nan '40' '19' '39' '41'
 '>43' '42' '43']

comp_noint_bed_16: [nan 'Yes']

comp_int_bed_16: [nan 'Yes']

talk_phon_wend: ['Any at all' nan 'Not at all']

text_wend: ['Less than 1 hour' nan 'Not at all' '3 or more hours' '1-2 hours']

talk_mob_wend: ['Less than 1 hour' nan 'Not at all' '1 or more hours']

comp_wend: ['1-2 hours' nan 'Less than 1 hour' '3 or more hours' 'Not at all']

musi_wend: ['Not at all' nan 'Any at all']

read_wend: ['Less than 1 hour' nan '1 or more hours' 'Not at all']

work_wend: ['3 or more hours' nan '1-2 hours' 'Less than 1 hour']

alon_wend: ['1-2 hours' nan '3 or more hours' 'Less than 1 hour']

draw_wend: ['Not at all' nan 'Less than 1 hour' '1 or more hours']

play_wend: ['3 or more hours' nan 'Less than 3 hours']

tv_wend: ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']

out_win_wend: ['3 or more hours' nan 'Less than 1 hour' '1-2 hours']

out_sum_wend: ['3 or more hours' nan 'Less than 3 hours']

tran_wend: ['Less than 1 hour' nan '1 or more hours']

talk_phon_week: ['Not at all' nan 'Any at all']

text_week: ['Less than 1 hour' nan 'Not at all' '3 or more hours' '1-2 hours']

talk_mob_week: ['Less than 1 hour' nan 'Not at all' '1 or more hours']

comp_week: ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']

musi_week: ['Not at all' nan 'Any at all']

read_week: ['Less than 1 hour' nan '1 or more hours' 'Not at all']

work_week: ['3 or more hours' nan '1-2 hours' 'Less than 1 hour']

alon_week: ['1-2 hours' nan '3 or more hours' 'Less than 1 hour']

draw_week: ['Not at all' nan 'Less than 1 hour' '1 or more hours']

play_week: ['3 or more hours' nan 'Less than 3 hours']

tv_week: ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']

out_win_week: ['3 or more hours' nan 'Less than 1 hour' '1-2 hours']

out_sum_week: ['3 or more hours' nan 'Less than 3 hours']

tran_week: ['Less than 1 hour' nan '1 or more hours']

pat_pres_10: ['Yes' nan 'No']

pat_pres_8: ['Yes' nan 'No']

pat_pres: ['Yes' nan 'No']

num_home: ['4' nan '3' '5' '2' '6' '1' '9 or more' '7' '8']

mat_anx_1: ['No' nan 'Yes']

mat_anx_18m: ['No' nan 'Yes']

mat_anx_8m: ['No' nan 'Yes']

emot_cruel: ['No' nan 'Yes']

phys_cruel: ['No' nan 'Yes']

mat_anx_0m: ['No' nan 'Yes']

pat_ses: ['III (manual)' nan 'III (non-manual)' 'ii' 'i' 'iv' 'v' 'Armed forces']

mat_ses: ['ii' nan 'iv' 'i' 'III (non-manual)' 'III (manual)' 'v' 'Armed forces']

pat_edu: ['A level' nan 'O level' 'Vocational' 'Degree' 'cse']

mat_edu: ['A level' nan 'O level' 'Vocational' 'CSE/None' 'Degree']

dep_band_15: ['~0.5%' nan '<0.1%' '~15%' '~50%' '>70%']

dep_band_13: ['~0.5%' nan '<0.1%' '~15%' '~50%' '>70%']

dep_band_10: ['~0.5%' nan '<0.1%' '~15%' '~50%' '>70%']

dep_band_07: ['~0.5%' nan '<0.1%' '~50%' '~15%']

anx_band_15: ['~0.5%' nan '~3%' '~15%' '~50%' '<0.1%']

anx_band_13: ['~0.5%' nan '~15%' '~3%' '>70%' '<0.1%' '~50%']

anx_band_10: ['~3%' nan '~0.5%' '~15%' '>70%' '~50%' '<0.1%']

anx_band_07: ['~3%' nan '~0.5%' '~15%' '~50%' '>70%']

exercise: ['5 or more times a week' nan '1-4 times a week' '1-3 times a month'
 'Never' 'Less than once a month']

child_bull: ['No' nan 'Yes']

phone_14_wend: [nan 'Not at all' '< 1 hour' '1 or more hours']

phone_14_week: [nan 'Not at all' '1 or more hours' '< 1 hour']

musi_13: [nan 'No' 'Yes']

tv_bed_9: [nan 'No' 'Yes']

own_mob: [nan 'Yes' 'No']

has_dep_diag: [' No ICD-10 diagnosis of depression' nan
 'Yes ICD-10 diagnosis of depression']

comp_house: ['Yes' nan]

tv_bed_16: ['Yes' nan]

creat_14: ['often' nan 'sometimes']

comp_games: ['No' nan 'Yes']

fam_tv_eve: ['Yes, Some Days' nan 'Yes, Every Day' 'Other']

fam_tv_aft: ['Other' nan 'Yes, Every Day' 'Yes, Some Days']

fam_tv_mor: ['Yes, Every Day' nan 'Other' 'Yes, Some Days']

sex: ['Female' 'Male']

birth_order: ['A' 'B']

In [26]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df

,flag,comp_bed_9,mat_age,comp_noint_bed_16,comp_int_bed_16,talk_phon_wend,text_wend,talk_mob_wend,comp_wend,musi_wend,...,has_dep_diag,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,synthetic,NaN,30,NaN,NaN,Any at all,Less than 1 hour,Less than 1 hour,1-2 hours,Not at all,...,No ICD-10 diagnosis of depression,Yes,Yes,often,No,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,synthetic,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,B
2,synthetic,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,synthetic,No,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,Male,A
4,synthetic,No,31,Yes,NaN,Not at all,Not at all,Not at all,Less than 1 hour,Not at all,...,NaN,NaN,NaN,often,No,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13729,synthetic,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Yes, Every Day","Yes, Every Day","Yes, Every Day",Female,A
13730,synthetic,No,29,NaN,NaN,Not at all,Less than 1 hour,Less than 1 hour,1-2 hours,Any at all,...,NaN,NaN,NaN,NaN,No,"Yes, Every Day",Other,Other,Male,A
13731,synthetic,NaN,37,NaN,NaN,Any at all,1-2 hours,1 or more hours,1-2 hours,Not at all,...,NaN,NaN,NaN,often,No,Other,Other,Other,Male,A
13732,synthetic,No,30,NaN,NaN,Any at all,1-2 hours,Not at all,1-2 hours,Any at all,...,No ICD-10 diagnosis of depression,Yes,NaN,sometimes,No,"Yes, Some Days",Other,"Yes, Every Day",Male,A
13733,synthetic,No,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,sometimes,NaN,"Yes, Some Days",Other,"Yes, Every Day",Male,A